{% extends 'main.html' %}
{% block title %} Book detail {% endblock title %}

{% block content %}

    <div class="container-md">

        {% if book.image %}
        <img src="{{ book.image.url }}" alt="">
        {% endif %}
        <div class="d-flex">
            <div class="p-2">
                <h2>{{ book.title }}</h2>
            </div>
            <a href="/books/{{ book.id }}/update/" class="p-2 text-decoration-none">✏</a>
            <a href="/books/{{ book.id }}/delete/" class="p-2 text-decoration-none">❌</a>
        </div>
        <p>{{ book.description }}</p>
        <p>{{ book.author }}</p>

        {% if book.genre %}

            {% for genre in book.genre.all %}

                <a href="#" class="badge {{ badge_classes|random }} text-decoration-none">{{genre}}</a>

            {% endfor %}

        {% endif%}

    </div>

{% endblock content %}